@{
    ViewData["Title"] = "Details Page";
}

<div class="header-bg header-bg-page">
        <div class="header-padding position-relative">
            <div class="header-page-shape">
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-2.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-3.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
            </div>
            <div class="container">
                <div class="header-page-content">
                    <h1>Shop Details</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="product-details-section pt-100 pb-70 bg-black">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-5 pb-30">
                    <div class="product-details-item">
                        <div class="product-details-slider">
                            <div class="product-details-for popup-gallery">
                                <div class="product-for-item">
                                    <a href="~/images/product-1.png"><img src="~/images/product-1.png"
                                            alt="product"></a>
                                </div>
                                <div class="product-for-item">
                                    <a href="~/images/product-1.png"><img src="~/images/product-1.png"
                                            alt="product"></a>
                                </div>
                                <div class="product-for-item">
                                    <a href="~/images/product-1.png"><img src="~/images/product-1.png"
                                            alt="product"></a>
                                </div>
                            </div>
                            <div class="product-details-nav">
                                <div class="product-nav-item">
                                    <div class="product-nav-item-inner">
                                        <img src="~/images/product-1.png" alt="product">
                                    </div>
                                </div>
                                <div class="product-nav-item">
                                    <div class="product-nav-item-inner">
                                        <img src="~/images/product-1.png" alt="product">
                                    </div>
                                </div>
                                <div class="product-nav-item">
                                    <div class="product-nav-item-inner">
                                        <img src="~/images/product-1.png" alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 pb-30">
                    <div class="product-details-item">
                        <div class="product-details-caption">
                            <div class="product-status product-status-danger mb-20">
                                New
                            </div>
                            <h3 class="mb-20 color-white">Crispy Chicken Burger</h3>
                            <h4 class="mb-20 product-id">Id: FA-001-002</h4>
                            <div class="product-details-price mb-20">
                                <h4>$ 4.50</h4>
                            </div>
                            <div class="product-details-para mb-20">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy hendrerit
                                    vitae. Vivamus vel erat tortor. Nulla facili hendr erit vitae. Vivamus vel erat
                                    tortor.</p>
                            </div>
                            <div class="product-action-info mb-20">
                                <div class="d-flex flex-wrap align-items-center
                                    product-quantity">
                                    <button class="btn btn-icon product-quantity-item">
                                        Add To Cart
                                        <i class="flaticon-shopping-cart-black-shape"></i>
                                    </button>
                                    <div class="cart-quantity product-quantity-item">
                                        <button class="qu-btn dec">-</button>
                                        <input type="text" class="qu-input" value="1">
                                        <button class="qu-btn inc">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-action-info">
                                <div class="product-add-wishlist">
                                    <a href="#"><i class="flaticon-heart"></i>Add To Wishlist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-tab below-border">
                <ul class="product-details-tab-list">
                    <li class="active" data-product-tab-list="1">Description</li>
                </ul>
                <div class="product-tab-information">
                    <div class="product-tab-information-item active" data-product-details-tab="1">
                        <div class="product-description mb-30">
                            <p>Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed purus augue, eu euism
                                od tellus. Nam mattis eros nec mi sag ittis sagittis. Vestibulum suscipit cursus
                                bibendum. Integer at justo eget sem auctor auctor eget vitae arcu. Nam tempor mal esuada
                                portti tor. Nulla quis dignissim ipsum. Aliquam pulvinar iaculis justo, sit amet
                                interdum sem hendrerit vitae. Vivamus vel erat tortor. Nulla facilisi. In nulla quam,
                                lacinia eu aliquam ac, aliquam in nisl.</p>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related-product mt-50">
                <div class="sub-section-title">
                    <h3 class="color-white">Related Items</h3>
                </div>
                <div class="receipe-grid receipe-grid-three">
                    <div class="receipe-item receipe-item-black pb-30">
                        <div class="receipe-item-inner">
                            <div class="receipe-image">
                                <img src="~/images/pizza-receipe-1.png" alt="receipe">
                            </div>
                            <div class="receipe-content">
                                <div class="receipe-info">
                                    <h3><a href="shop-details.html">Pepperoni Pizza</a></h3>
                                    <h4>$4.59<del>$7.59</del></h4>
                                </div>
                                <div class="receipe-cart receipe-cart-main">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="receipe-item receipe-item-black pb-30">
                        <div class="receipe-item-inner">
                            <div class="receipe-image">
                                <img src="~/images/pizza-receipe-2.png" alt="receipe">
                            </div>
                            <div class="receipe-content">
                                <div class="receipe-info">
                                    <h3><a href="shop-details.html">Beefka Pizza</a></h3>
                                    <h4>$5.12<del>$6.59</del></h4>
                                </div>
                                <div class="receipe-cart receipe-cart-main">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="receipe-item receipe-item-black pb-30">
                        <div class="receipe-item-inner">
                            <div class="receipe-image">
                                <img src="~/images/pizza-receipe-3.png" alt="receipe">
                            </div>
                            <div class="receipe-content">
                                <div class="receipe-info">
                                    <h3><a href="shop-details.html">Chicken Pizza</a></h3>
                                    <h4>$6.57<del>$7.12</del></h4>
                                </div>
                                <div class="receipe-cart receipe-cart-main">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="receipe-item receipe-item-black pb-30">
                        <div class="receipe-item-inner">
                            <div class="receipe-image">
                                <img src="~/images/pizza-receipe-4.png" alt="receipe">
                            </div>
                            <div class="receipe-content">
                                <div class="receipe-info">
                                    <h3><a href="shop-details.html">Avocado Pizza</a></h3>
                                    <h4>$5.12<del>$6.59</del></h4>
                                </div>
                                <div class="receipe-cart receipe-cart-main">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="receipe-item receipe-item-black pb-30">
                        <div class="receipe-item-inner">
                            <div class="receipe-image">
                                <img src="~/images/pizza-receipe-5.png" alt="receipe">
                            </div>
                            <div class="receipe-content">
                                <div class="receipe-info">
                                    <h3><a href="shop-details.html">Vegana Pizza</a></h3>
                                    <h4>$7.45<del>$8.12</del></h4>
                                </div>
                                <div class="receipe-cart receipe-cart-main">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="receipe-item receipe-item-black pb-30">
                        <div class="receipe-item-inner">
                            <div class="receipe-image">
                                <img src="~/images/pizza-receipe-6.png" alt="receipe">
                            </div>
                            <div class="receipe-content">
                                <div class="receipe-info">
                                    <h3><a href="shop-details.html">Meat Pizza</a></h3>
                                    <h4>$8.45<del>$9.24</del></h4>
                                </div>
                                <div class="receipe-cart receipe-cart-main">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>