@{
    ViewData["Title"] = "Forget Password Page";
}

<div class="header-bg header-bg-page">
        <div class="header-padding position-relative">
            <div class="header-page-shape">
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-2.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-3.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>

            </div>
            <div class="container">
                <div class="header-page-content">
                    <h1>Welcome To Fafo</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <section class="authentication-section p-tb-100 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                    <div class="comment-area text-center">
                        <div class="sub-section-title">
                            <h3 class="color-white">Forget Your Password?</h3>
                            <p>Lost your password? Please enter your username or email address. You will receive a link
                                to create a new password via email. </p>
                        </div>
                        <div class="authentication-input-area mt-30">
                            <form>
                                <div class="form-group mb-20">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            placeholder="User Name / Email Address" />
                                    </div>
                                </div>
                                <div class="authentication-btn">
                                    <button class="btn full-width" type="submit">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>