@{
    ViewData["Title"] = "Cart Page";
}

<div class="header-bg header-bg-page">
        <div class="header-padding position-relative">
            <div class="header-page-shape">
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-2.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-3.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
            </div>
            <div class="container">
                <div class="header-page-content">
                    <h1>Wishlist</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">My Account</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="cart-section p-tb-100 bg-black">
        <div class="container">
            <div class="cart-table cart-table-dark">
                <table>
                    <tbody>
                        <tr>
                            <td class="cancel"><a href="#"><i class='flaticon-cancel'></i></a></td>
                            <td>
                                <div class="product-table-info">
                                    <div class="product-table-thumb">
                                        <img src="~/images/product-1.png" alt="product">
                                    </div>
                                </div>
                            </td>
                            <td class="td-product-name">Crispy Chicken Burger</td>
                            <td>FA-001-001</td>
                            <td>$4.50</td>
                            <td><a href="#" class="btn">Add To Cart <i
                                        class="flaticon-shopping-cart-black-shape"></i></a></td>
                        </tr>
                        <tr>
                            <td class="cancel"><a href="#"><i class='flaticon-cancel'></i></a></td>
                            <td>
                                <div class="product-table-info">
                                    <div class="product-table-thumb">
                                        <img src="~/images/product-4.png" alt="product">
                                    </div>
                                </div>
                            </td>
                            <td class="td-product-name">Red Sause Pizza</td>
                            <td>FA-001-002</td>
                            <td>$8.00</td>
                            <td><a href="#" class="btn">Add To Cart <i
                                        class="flaticon-shopping-cart-black-shape"></i></a></td>
                        </tr>
                        <tr>
                            <td class="cancel"><a href="#"><i class='flaticon-cancel'></i></a></td>
                            <td>
                                <div class="product-table-info">
                                    <div class="product-table-thumb">
                                        <img src="~/images/product-7.png" alt="product">
                                    </div>
                                </div>
                            </td>
                            <td class="td-product-name">Chicken Sandwitch</td>
                            <td>FA-001-003</td>
                            <td>$8.00</td>
                            <td><a href="#" class="btn">Add To Cart <i
                                        class="flaticon-shopping-cart-black-shape"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>